S7comm/flows.json
[{"id":"9c780bfb.d5b0f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"648bd983.380be8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"6f111f54.f56a4","type":"s7comm","ip":"192.168.56.15","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"10"},{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"W","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"word"},{"S7_Type":"Q","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"i0.0"}]},{"id":"77eb8582.333f0c","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.56.15","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"I3.5","name":"piTaco"},{"addr":"M10.0","name":"mClock"},{"addr":"M10.1","name":"mClockPermiso"},{"addr":"Q2.7","name":"poSentido"},{"addr":"Q2.6","name":"poGiro"},{"addr":"IW4","name":"poten"}]},{"id":"e5afe97e.8b09c8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.10","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q0.0","name":"q"},{"addr":"M0.7","name":"clock"},{"addr":"I0.0","name":"test"}]},{"id":"610aa60b.799728","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.56.15","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q2.6","name":"poGiro"},{"addr":"Q2.7","name":"poSentido"},{"addr":"I3.5","name":"piTaco"},{"addr":"M10.0","name":"mClock"},{"addr":"M10.1","name":"mClockPermiso"}]},{"id":"13668922.c417d7","type":"s7 out","z":"9c780bfb.d5b0f8","endpoint":"77eb8582.333f0c","variable":"mClockPermiso","name":"","x":360,"y":520,"wires":[]},{"id":"d2ac36e9.7077c8","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":500,"wires":[["13668922.c417d7"]]},{"id":"3c2a59a6.ba7c86","type":"s7 out","z":"9c780bfb.d5b0f8","endpoint":"77eb8582.333f0c","variable":"poSentido","name":"","x":350,"y":380,"wires":[]},{"id":"f7d646df.757b68","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":360,"wires":[["3c2a59a6.ba7c86"]]},{"id":"fffc71d7.3abcb","type":"s7 out","z":"9c780bfb.d5b0f8","endpoint":"77eb8582.333f0c","variable":"poGiro","name":"","x":330,"y":240,"wires":[]},{"id":"ef8c1735.d139a8","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":220,"wires":[["fffc71d7.3abcb"]]},{"id":"66472e4d.92a5","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":280,"wires":[["fffc71d7.3abcb"]]},{"id":"86e5b9f.d57db48","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":420,"wires":[["3c2a59a6.ba7c86"]]},{"id":"2da4b887.ee4fc8","type":"inject","z":"9c780bfb.d5b0f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":560,"wires":[["13668922.c417d7"]]},{"id":"90e4ab36.2edaa8","type":"debug","z":"648bd983.380be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"7257bc85.4306a4","type":"s7 in","z":"648bd983.380be8","endpoint":"610aa60b.799728","mode":"all","variable":"","diff":true,"name":"","x":210,"y":140,"wires":[["90e4ab36.2edaa8"]]}]